Flask==2.2.2
Flask_Login==0.6.2
Flask_Migrate==3.1.0
Flask_SQLAlchemy==3.0.2
Werkzeug==2.2.2
Flask-WTF==1.1.1
email_validator==2.0.0
pymysql==1.1.0
asgiref==3.7.2
cryptography==41.0.3
gunicorn
SQLAlchemy==2.0.19
python-dotenv==0.19.1
flask_script==2.0.6 