<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/basic.js') }}" ></script>
    
    <!--  CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/css/main.css')}}">
    <link  rel="stylesheet" type= "text/css" src="{{ url_for('static',filename='style/css/bootstrap.css')}}" >
    <!--  IMAGES -->
   <!-- /home/nfbona/Server/server/bin  -->
    <!-- Javascript -->



    <title>{% block title %}{% endblock %}</title>
    <!-- This is to link css and html-->
    <!--<link rel="stylesheet" href="css/main.css">-->
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
