<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/js/basic.js" ></script>

    <!--  CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/css/main.css') }}">
    <!--  IMAGES -->
   <!-- /home/nfbona/Server/server/bin  -->
    <!-- Javascript -->



    <title>{% block title %}{% endblock %}</title>
    <!-- This is to link css and html-->
    <!--<link rel="stylesheet" href="css/main.css">-->
</head>
<body>
    {% include 'aux/navbar.html'%}
    {% block content %}{% endblock %}
</body>
</html>
