/*/mnt/849AEC609AEC506A/Nico/Server/images/computer -->*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600&display=swap');


body
{
    font-family: "Comfortaa",sans-serif;
    margin:0;
}

.hero-bg
{
    background: #b3e0ff url('../images/1026.jpg');
    background-position:10% 50%;
    color: #173d7b;
    text-align: center;
    padding-bottom: 3em;
    display: block;
    height: 100%;
    width: 100%;
}

header
{
    padding-top: 1em; 

}

.hero-bg a
{
    
    color: black;
    text-decoration:none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero-bg h1
{
    
    font-weight: bold;
    font-size: 1.7rem;
    
}


.small
{
    font-size: 60%;
    font-style: italic;
    display: block;
}

form
{

    
    margin: 2em -1em 0;
    padding: 2em;

}

label
{

    color: #173d7b;
    display: block;
    margin: 1.2em;

}

input
{
    border: 1px solid #707070;
    width: 80%;
    padding: 1em;
    border-radius: .5em;
    margin-top: 1.2em;
}

input[type="button"]
{
    background-color: #173d7b;
    color: white;
    width: 85%;
    font-family: "Comfortaa";
    font-weight: bold;
    font-size:large;
    margin-bottom: 1em;

}

input[type="button"]:hover
{
    background-color: #0f2f63;
    cursor: pointer;
}

.right
{
    
    border-radius: .8em;

}
@media (min-width:730px){

    section
    {
        margin:0 4em;
        border-radius: 5em;
    }

    form
    {
        border-radius: 5em;

    }


}

}
@media (min-width:730px){

    section
    {
        margin:0 4em;
        border-radius: 5em;
    }

    form
    {
        border-radius: 5em;

    }


}

