
{% extends "base/baseNavbar.html" %}

{% block title %}  {% endblock %}
{% block content %} 

<div id="container" class="container-fluid" >
  <div class="row">
    <div id="left" class="col" >
      {%if email%}
      <h1>Hi {{our_user.email}}</h1>
      {% endif %}


      <!-- This is MOODLE and URV LOGO-->
      <div id="right" class="hidden-md-down">

        
          <div id="right-title" >
                  <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php">Moodle Urv</a>     
          </div>
          <div id="right-image" style="height: 100%;">
              <img id="background-image" src="{{ url_for('static',filename='style/images/1026.jpg') }}" style="width: 100%;background-repeat: no-repeat;position: static;">
          </div>
      </div>
  </div>
</div>


</div>
{% endblock %}
<script>  
  var source= new EventSource("/stream");

  source.addEventListener('greeting', function(event) {
      var data = JSON.parse(event.data);
      console.log("Message caught");
      console.log(data.message);
  });


 </script>