
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 


<div id="container" class="container-fluid" >
  <div class="row">
    <!---- LEFT COLUMN --->
    <div id="left" class="col" >
      <h1 style="display: flex;justify-content: center;">List of Users</h1>
      <table class="table">
        <thead>
          <tr>  
            <th>Id</th>
            <th>email</th>
            <th>roles_id</th>
          </tr>
        </thead>
        {% for our_user in our_users %}
        <tr>
        <td>{{our_user.id}}</td>
        <td>{{our_user.email}}</td>
        <td>{{our_user.roles_id}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

<!---- MIDLE COLUMN --->
    <div id="midle" class="col" >
      <h1 style="display: flex;justify-content: center;">List of Roles</h1>
          
      <table class="table">
        <thead>
          <tr>  
            <th>Id</th>
            <th>name</th>
          </tr>
        </thead>
        {% for our_role in our_roles %}
        <tr>
          <td>{{our_role.id}}</td>
          <td>{{our_role.name}}</td>
        </tr>
        {% endfor %}
      </table>
   

      </div>
<!---- Right COLUMN --->
      <div id="right" class="col-8" >
          <h1 style="display: flex;justify-content: center;">List of Relays</h1>
          
            <table class="table">
              <thead>
                <tr>  
                  <th>Id</th>
                  <th>state</th>
                  <th>DateTime</th>
                </tr>
              </thead>
              {% for our_relay in our_relays %}
              <tr>
                <td>{{our_relay._id}}</td>
                <td>{{our_relay._state}}</td>
                <td>{{our_relay._DateTime}}</td>
              </tr>
              {% endfor %}
            </table>
            <form action="/database" method="post">
              <button>Restart</button>
            </form>
       </div>
  </div>
</div>


</div>
{% endblock %}
