
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 
{% from "aux/macros.html" import modal %}


<div id="container" class="container-fluid" >

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="roles-tab" data-bs-toggle="tab" href="#roles" role="tab" aria-controls="roles" aria-selected="false">Roles</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="roles-tab" data-bs-toggle="tab" href="#relays" role="tab" aria-controls="relays" aria-selected="false">Relays</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
        <table id="tableusers" class="table-heading table table-rounded" style="width:100%;">
        <thead>
          <tr> 
            <th>  </th>
            <th>Email</th>
            <th>Rol</th>
            <th>Últim login</th>
            <th>Color</th>
            <th>Informació</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for our_user in our_users %}
        <tr id="{{our_user.email}}">
          <td><input type="checkbox" class="delete-checkbox" value="{{our_user.email}}"></td>
          <td class="email">{{our_user.email}}</td>
          <td class="role_id">
          <select class="role_id form-select" id="classSelect" onchange="classSelected('{{our_user.email}}')" >
            <option value="1" {% if our_user.role_id == 1 %}selected{% endif %}>Admin</option>
            <option value="2" {% if our_user.role_id == 2 %}selected{% endif %}>Usuari</option>
          </select>
        </td>
          <td class="last_login">{{our_user.last_login}}</td>
          <td class="color" style="justify-content: center;align-items: center;text-align:center;"><div class="color-box" style="background-color: rgb({{our_user.color}});"></div></td>
          <td class="info" style="justify-content: center;align-items: center;text-align:center;"><a href="{{url_for('auth.update',email=our_user.email)}}" class="btn btn-primary"><button class="btn btn-info">Info</button></a></td>
          <td><button class="btn btn-danger" onclick="deleteUser('{{our_user.email}}')">Delete</button></td>
          </tr>
        {% endfor %}
      </table>
        <button id="deleteButton"class="btn btn-danger">Delete users selected</button>
    </div>
    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
      <table id="tableroles" class="table-heading table table-rounded" style="width:100%;">
        <thead>
          <tr>  
            <th>Id</th>
            <th>name</th>
          </tr>
        </thead>
        {% for our_role in our_roles %}
        <tr>
          <td>{{our_role.id}}</td>
          <td>{{our_role.name}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="tab-pane fade" id="relays" role="tabpanel" aria-labelledby="relays-tab">
       <table id="tablerelays" class="table-heading table table-rounded" style="width:100%;">
        <thead>
          <tr>  
            <th>Id</th>
            <th>state</th>
            <th>DateTime</th>
            <th>name</th>
          </tr>
        </thead>
        {% for our_relay in our_relays %}
        <tr>
          <td>{{our_relay.id}}</td>
          <td>{{our_relay.state}}</td>
          <td>{{our_relay.date_modified}}</td>
          <td>{{our_relay.name}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{{modal('modal1','Delete','Cancel','btn-danger')}}

<script>
// TABLE
  $(document).ready(function() {
      $('.table').DataTable({
        paging: false, // Disable pagination
        searching: true, // Disable searching
        info: true, // Disable info (the message showing the number of entries)
        ordering: true, // Enable column ordering

  });
  } );

  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })



document.getElementById('deleteButton').addEventListener('click', function() {
  // Collect the emails of all selected users
  var selectedUsers = [];
  var checkboxes = document.querySelectorAll('.delete-checkbox:checked');
  checkboxes.forEach(function(checkbox) {
      selectedUsers.push(checkbox.value);
  });
   activate_modal('modal1','Borrar ususaris del sistema','Estas segur que vols borrar els usuaris seleccionats?<br><strong>Selected users:</strong><br>'+selectedUsers.join('<br>'),selectedUsers,deleteUserList,()=>{console.log('Cancel')});
});


async function activate_modal(id, title, body,selectionInfo, action,cancel) {
  $("#"+id+'-title').html(title);
  $("#"+id+'-body').html(body);
  $('#'+id).modal('show');
  var actionResult;
  $("#"+id+'-button-action').off('click').on('click', async function() {
      actionResult = action(selectionInfo);
      $('#'+id).modal('hide');
  });
  $("#"+id+'-button-cancel').off('click').on('click', async function() {
      await cancel(selectionInfo);
      $('#'+id).modal('hide');
  });
};

function classSelected(id) {
  selectedOption=1+document.getElementById(id).getElementsByClassName('role_id')[1].selectedIndex;
  fetch("{{url_for('auth.roleUser')}}", {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ email: id , role: selectedOption }),
  })
  .then(response => response.json())
  .then(data => console.log(data))
  .catch((error) => {
    console.error('Error:', error);
  });
}
// Delete the selected users

async function deleteUserList(emails) {
  // This is just a placeholder, you will need to implement the actual deletion logic
  // Example of sending a single request with the list of emails
  // Uncomment and modify the following lines to match your backend API

   const response = await fetch("{{url_for('auth.deleteUsers')}}", {
     method: 'POST',
     headers: {
       'Content-Type': 'application/json',
     },
     body: JSON.stringify({ emails: emails }),
   });

   if (!response.ok) {
     console.error('Failed to delete users');
   }
   else {
     console.log('Users deleted successfully');
     location.reload();
   }
}


async function deleteUser(email) {
  var selectedUsers = [email];
  activate_modal('modal1','Borrar ususari del sistema',"Estas segur que vols borrar l'usuari seleccionat?<br><strong>Selected user:</strong><br>"+selectedUsers[0],selectedUsers,deleteUserList,()=>{console.log('Cancel')});
}
  </script>

{% endblock %}
