<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- This is to link css and html-->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="hero-bg">
        <section class="left">
            <header>
               <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php">Moodle Urv</a> 
            </header>            
            <h1><span>Router & Switch<span> control</h1>
            <p>
                For the access of the switches or router switching on/off, we have to access with a user. 
              </p>
              <p class="small"> If you want access please contact your teacher to create or administrate your access to the webpage!
            </p>
        </section>    
        
        <section class="right"> 
             <div class="form">
                <form action="">
                    <div class="form-left">
                        <label for="user">Enter your username and password</label>
                        <label for="pass"></label>
                        <input type="text" name="username" id = "user" value="username">
                    </div>  
                    <input type="password" name="password" id="pass" value ="password">
                    <input type="button" value="Sign-in">

                </form>

            </div>

        </section>
        

    </div>

</body>
</html>