
{% extends "base/base.html" %}
{% block title %}  {% endblock %}
{% block content %} 

<div id="container" class="container-fluid" >
  <div class="row">
    <div id="left" class="col" >
      {%if email%}
      <h1>Hi bithch</h1>
      {% endif %}

      {%if password%}
      <h1></h1>
      {% endif %}


        {%if email%}
          <h1>Hi {{email}}</h1>


        {%else%}
          <div id="left-form" >
              <h1><span>Router & Switch<span> control</h1>
              <p>
                  For the access of the switches or router switching on/off, we have to access with a user. 
              </p>

              <form method="POST">
                <!-- CRSF token -->
                {{ form.hidden_tag() }}
                
                <!--FORMS-->
                <!--Email-->
                {{ form.email( class="form-control", placeholder="name@example.com")}}
                
                <!--Password-->
                {{ form.password(class="form-control", placeholder="Password")}}   
                <br/>
                <!--Button-->
                {{form.submit( class="btn btn-info")}}
                
              </form>


          </div>
          <div id="urvlogo">
            <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php"> <img src="{{ url_for('static',filename='style/images/logoURVppd.png') }}">
            </a>
          </div>
        {% endif %}
      </div>

      <!-- This is MOODLE and URV LOGO-->
      <div id="right" class="col-8" >
          <div id="right-title" >
                  <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php">Moodle Urv</a>     
          </div>
          <div id="right-image" style="height: 100%;">
              <img id="background-image" src="{{ url_for('static',filename='style/images/1026.jpg') }}" style="width: 100%;background-repeat: no-repeat;position: static;">
          </div>
      </div>
  </div>
</div>


</div>
{% endblock %}
