
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
{% from "aux/macros.html" import modal %}

<!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css">
-->

<style>
  #calendar a {
  font-size: 1vw;
  font-weight: bold;
  }
</style>

<body>
  <script>
      function newEvent(selectionInfo) {
          return {
              title: '{{current_user.email}}',
              start: selectionInfo.start,
              end: selectionInfo.end,
              backgroundColor: 'rgb({{current_user.color}})',
              editable: true,
              groupId: '{{current_user.email}}' + Math.random()
          };
      }

      function newEventBackend(selectionInfo) {
          event = newEvent(selectionInfo);
          var result = ajaxPostRequest("{{url_for('pages.create_event')}}", event);
          if (result['Created']) {
              return event;
          } else {
              return null;
          }
      }

      function modifyEventBackend(info) {
          eventModified = info.event;
          var result = ajaxPostRequest("{{url_for('pages.update_event')}}", eventModified);
          if (result['Updated']) {
              return eventModified;
          } else {
              return null;
          }
      }

      function ajaxGetRequest(url, object) {
          var responseContent;
          $.ajax({
              url: url,
              type: 'GET',
              async: false,
              success: function (response) {
                  responseContent = response;
              },
              error: function (errorThrown) {
                  console.error(errorThrown);
                  responseContent = errorThrown;
              }
          });
          console.log(responseContent);
          return responseContent;
      }

      function ajaxPostRequest(url, object) {
          var responseContent;
          $.ajax({
              url: url,
              contentType: 'application/json',
              type: 'POST',
              data: JSON.stringify(object),
              async: false,
              success: function (response) {
                  responseContent = response;
              },
              error: function (errorThrown) {
                  console.error(errorThrown);
                  responseContent = null;
              }
          });
          console.log(responseContent);
          return responseContent;
      }

      document.addEventListener('DOMContentLoaded', function () {
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
              aspectRatio: 1,
              locale: 'ca',
              weekends: true,
              firstDay: 1,
              allDaySlot: false,
              dayHeaderFormat: { weekday: 'long' },
              nowIndicator: true,
              selectable: true,
              selectMirror: true,
              unselectAuto: true,
              selectOverlap: false,
              stickyHeaderDates: true,
              eventOverlap: false,
              themeSystem: 'bootstrap5',
              dayMaxEvents: true,
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'timeGridWeek,listWeek'
              },
              events: [
                  {% for event in all_events %}
                      {
                          groupId: "{{event.groupId}}",
                          title: "{{event.title}}",
                          start: "{{event.start}}",
                          end: "{{event.end}}",
                          editable: {{event.editable}},
                          backgroundColor: "rgb({{event.color}})"
                      }{% if not loop.last %},{% endif %}
                  {% endfor %}
              ],
              eventChange: function (info) {
                  if (confirm("Estàs segur que vols modificar aquesta reserva?\n Inici: " + info.event.startStr + ' Final: ' + info.event.endStr)) {
                      var event = modifyEventBackend(info);
                      console.log(event);
                  } else {
                      info.revert();
                  }
              },
              eventClick: function (info) {
                  alert('GROUPID' + info.event.groupId + ' TItle: ' + info.event.title + ', Start: ' + info.event.start + ', End: ' + info.event.end);
              },
              select: function (selectionInfo) {
                  if (confirm("Estàs segur que vols fer un booking d'aquestes hores?\n Inici: " + selectionInfo.startStr + ' Final: ' + selectionInfo.endStr)) {
                      var event = newEventBackend(selectionInfo);
                      console.log(event);
                      calendar.addEvent(event);
                  } else {
                      calendar.unselect();
                  }
              },
              initialView: 'timeGridWeek'
          });
          calendar.render();
      });
  </script>

  <div class="container-fluid">
      <h1 class="text-center">Schedule</h1>
      <div class="row text-center">
          <div class="col-9">
              <div id="calendar"></div>
          </div>
          <div class="col-3">
              <div id="userConfig" class="mb-4 p-3" style="height: 350px; overflow: auto;">
                  <h2 class="text-center">User information {{current_user.email}}</h2>
                  <div id="llistaEvents">
                      <div>
                          <span>User email: {{current_user.email}}</span>
                      </div>
                      <div>
                          <span>Hours restants: {{hours}}</span>
                      </div>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete">
                          Launch demo modal
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  {{ modal('delete', 'Modal Title 1', 'Modal Body 1',  'Delete','Cancel') }}

</body>
</html>
{% endblock %}