
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
{% from "aux/macros.html" import modal, toast, toastjs, permanentToast %}

<!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css">
-->

<style>
  #calendar a {
  font-size: 1vw;
  font-weight: bold;
  }
</style>

  <script>

    var reserves={{userEventCount}};
    var minuts={{hours}};

      function revert(info) {
          info.revert();
      }

      function unselect(info) {
          info.calendar.unselect();
      }

      function update_user_info(minuts,reserves) {
          document.getElementById('User-timeleft').innerHTML = minuts;
          document.getElementById('User-reserves').innerHTML = reserves;
      }

    function calculateTimeInMinutes(startTime, endTime) {
        var start = new Date(startTime);
        var end = new Date(endTime);
        var diff = end.getTime() - start.getTime();
        var minutes = Math.floor(diff / 1000 / 60);
        return minutes;
    }


    async function updateminutesEvents(minutes,reserva){
        reserves+=reserva;
        minuts-=minutes;
        update_user_info(minuts,reserves);
    }

      function newEvent(selectionInfo) {
          return {
              title: '{{current_user.email}}',
              start: selectionInfo.start,
              end: selectionInfo.end,
              backgroundColor: 'rgb({{current_user.color}})',
              editable: true,
              groupId: '{{current_user.email}}' + Math.random()
          };
      }

      async function activate_modal(id, title, body,selectionInfo, action,cancel,calendar) {
        $("#"+id+'-title').html(title);
        $("#"+id+'-body').html(body);
        $('#'+id).modal('show');
        var actionResult;
        $("#"+id+'-button-action').off('click').on('click', async function() {
            action(selectionInfo,calendar);
            $('#'+id).modal('hide');
        });
        $("#"+id+'-button-cancel').off('click').on('click', async function() {
            cancel(selectionInfo);
            $('#'+id).modal('hide');
        });
    };

        async function newEventBackend(selectionInfo,calendar) {
            event = newEvent(selectionInfo);
            var result = ajaxPostRequest("{{url_for('pages.create_event')}}", event);
            if (result['Created']) {
                calendar.addEvent(event);
                {{ toastjs('okToast', 'Event creat satisfactoriament.') }}
                updateminutesEvents(calculateTimeInMinutes(event.start, event.end),1);
                return event;
            } else {
                calendar.unselect();
                {{ toastjs('warningToast', 'Sisplau, comprova que els temps son posteriors a ara mateix.') }}
                console.error("Error creating event");
            }
        }
        
        async function modifyEventBackend(info,calendar) {
            eventModified = info.event;
            var result = ajaxPostRequest("{{url_for('pages.update_event')}}", eventModified);
            if (result['Updated']) {
                {{ toastjs('okToast', 'Event modificat satisfactoriament.') }}
                updateminutesEvents(calculateTimeInMinutes(info.event.start, info.event.end)-calculateTimeInMinutes(info.oldEvent.start, info.oldEvent.end),0);
                return eventModified;
            } else {
                info.revert();
                {{ toastjs('warningToast', 'Sisplau, comprova que els temps son posteriors a ara mateix o son teus.') }}
                console.error("Error modifying event");
            }
        }

        async function deleteEventBackend(info,calendar) {
            eventDeleted = info.event;
            var result = ajaxPostRequest("{{url_for('pages.delete_event')}}", eventDeleted);
            if (result['Deleted']) {
                info.event.remove();
                {{ toastjs('okToast', 'Event esborrat satisfactoriament.') }}
                updateminutesEvents(-calculateTimeInMinutes(eventDeleted.start, eventDeleted.end),-1);
                return eventDeleted;
            } else {
                {{ toastjs('warningToast', 'Sisplau, comprova que els temps son posteriors a ara mateix o son teus.') }}
                console.error("Error deleting event");
            }
        }
        
        function ajaxGetRequest(url, object) {
            var responseContent;
            $.ajax({
                url: url,
                type: 'GET',
                async: false,
                success: function (response) {
                    responseContent = response;
                },
                error: function (errorThrown) {
                    console.error(errorThrown);
                    responseContent = errorThrown;
                }
            });
            console.log(responseContent);
            return responseContent;
        }

        function ajaxPostRequest(url, object) {
            var responseContent;
            $.ajax({
                url: url,
                contentType: 'application/json',
                type: 'POST',
                data: JSON.stringify(object),
                async: false,
                success: function (response) {
                    responseContent = response;
                },
                error: function (errorThrown) {
                    console.error(errorThrown);
                    responseContent = null;
                }
            });
            console.log(responseContent);
            return responseContent;
        }

      document.addEventListener('DOMContentLoaded', function () {
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
              height: 'auto',
              slotDuration: '00:15:00', 
              locale: 'ca',
              timeZone: 'Europe/Paris',
              weekends: true,
              firstDay: 1,
              allDaySlot: false,
              dayHeaderFormat: { weekday: 'long' },
              nowIndicator: true,
              selectable: true,
              selectMirror: true,
              unselectAuto: true,
              selectOverlap: false,
              stickyHeaderDates: true,
              eventOverlap: false,
              themeSystem: 'bootstrap5',
              dayMaxEvents: true,
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'timeGridWeek,listWeek'
              },
              events: [
                  {% for event in all_events %}
                      {
                          groupId: "{{event.groupId}}",
                          title: "{{event.title}}",
                          start: "{{event.start}}",
                          end: "{{event.end}}",
                          editable: {{event.editable}},
                          backgroundColor: "rgb({{event.color}})"
                      }{% if not loop.last %},{% endif %}
                  {% endfor %}
              ],
              eventChange: async function (info) {
                oldEventinfo = info.oldEvent;
                newEventinfo = info.event;
                activate_modal('accept_modification', 'Modificar reserva','La següent acció modificarà la reserva.<br> Reserva original: <ul><li><strong>Inici de reserva: </strong>'+oldEventinfo.start.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li><li><strong>Final de reserva: </strong>'+oldEventinfo.end.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li></ul> <br> Modificant a:<ul><li><strong>Inici de reserva: </strong>'+newEventinfo.start.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li><li><strong>Final de reserva: </strong>'+newEventinfo.end.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li></ul>',info, modifyEventBackend, revert,calendar);
              },
              eventClick: async function (info) {
                activate_modal('delete', 'Esborrar reserva','La següent acció esborrarà la reserva.<br> Reserva: <ul><li><strong>Inici de reserva: </strong>'+info.event.start.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li><li><strong>Final de reserva: </strong>'+info.event.end.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li></ul>',info, deleteEventBackend, revert,calendar);
                },
              select: async function (info) {
                activate_modal('accept_creation', 'Crear reserva','La següent acció crearà la següent nova reserva.<br> Reserva: <ul><li><strong>Inici de reserva: </strong>'+info.start.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li><li><strong>Final de reserva: </strong>'+info.end.toISOString().toLocaleString('es-ES', { timeZone: 'Europe/Paris' })+'</li></ul>',info, newEventBackend, unselect,calendar);
              },
              initialView: 'timeGridWeek',
              windowResize: function(view) {
                if (window.innerWidth < 768){
                    calendar.changeView('timeGridDay');
                } else if(window.innerWidth < 1200){
                    calendar.changeView('timeGridWeek');
                } 
            }
        });
        calendar.render();
    });
  </script>

  <div class="container-fluid">
      <h1 class="text-center">Schedule</h1>
      <div class="row text-center">
            <div class="col">
              <div id="calendar"></div>
            </div>
      </div>
  </div>

    {{ modal('accept_creation', 'Accept','Cancel','btn-success') }}
    {{ modal('accept_modification', 'Accept','Cancel','btn-success') }}
    {{ modal('delete', 'Delete','Cancel','btn-danger') }}
    {{ toast() }}
    {{ permanentToast(current_user,hours,userEventCount) }}

    <script>
        
        window.onload = function(toast) {
            var toastEl = document.getElementById('permanentToast');
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        }

    </script>

{% endblock %}