{% extends "base/baseNavbar.html" %}
{% block title %} {% endblock %}
{% block content %} 

<style>
  .form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
  }
  
  .form-check-input:not(:checked) {
    background-color: #dc3545;
    border-color: #dc3545;
  }

</style>

<div id="container" class="container-fluid">
  <div class="row">
    <div id="left" class="col">
      {%if not(is_users)%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No tens accés als relays!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif%}
      
      <h1>Relays</h1>
      <table class="table-heading table table-rounded">
        <thead>
          <tr>
            <th class="text-center align-middle">Active</th>
            <th class="text-center align-middle">Name</th>
            <th class="text-center align-middle">Time to modify</th>
          </tr>
        </thead>
        <tbody>
          {% for relay in relays %}
          <tr>
            <td class="justify-content-center align-items-center">
              <div class="form-check form-switch">
                <input id="checkbox{{ relay._id }}" class="form-check-input" type="checkbox" value="{{ relay._id }}" {% if relay.is_active %} checked {% endif %} onclick="disableCheckbox(this)" {%if not(is_users) %} disabled {% endif %}>                
              </div>
            </td>
            <td class="justify-content-center align-items-center">
            {% if current_user.is_admin_role() %}
              <label class="form-check-label" for="checkbox{{ relay.state }}" relay="{{ relay._id }}" contenteditable="true">{{ relay.name }}</label>
            {% else %}
              <label class="form-check-label"for="checkbox{{ relay.state }}" >{{ relay.name }}</label>
            {% endif %}
            </td>
            <td class="justify-content-center align-items-center">
              <p style="display:inline;" id="timer{{ relay._id }}"></p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    
    {%if not(is_users) %}
    <div class="fixed-bottom">
      <div class="container text-center bg-light py-3" style="color: rgba(25, 127, 185, 0.534);">
        <h4>No oblidis de demanar hora en el schedule!</h4>
        <p>Mira el schedule per a reservar un temps per tindre accés a obrir o tancar els relays. Clica <a href="{{url_for('pages.schedule')}}">aqui</a> per veure i reservar.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  
  var timer = 10;

  function Timer1(relay, time, checkid) {
    let minute = parseInt(time / 60);
    let sec = time % 60;
    document.getElementById(relay).innerHTML = minute + " : " + (sec + 1);
    var name = setInterval(function() {
      document.getElementById(relay).innerHTML = minute + " : " + sec;
      if (sec <= 0) {
        if (minute <= 0) {
          document.getElementById(checkid).disabled = false;
          clearInterval(name);
          return 0;
        } else {
          minute--;
          sec = 60;
        }
      }
      sec--;
    }, 1000);
  };

  function disableCheckbox(checkbox) {
    let aux = "timer" + checkbox.value;
    let checkboxid = "checkbox" + checkbox.value;
    Timer1(aux, timer, checkboxid);
    checkbox.disabled = true;

    // AJAX call to backend
    $.ajax({
      url: "/json",
      type: "POST",
      data: JSON.stringify({
        "id": checkbox.value,
        "value": checkbox.checked
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        // console.log(data);
      },
      error: function(xhr, status, error) {
        console.log('Error: ' + error.message);
      }
    });
  }

  {%if current_user.is_admin_role() %}
  var elements = document.getElementsByClassName('form-check-label');

  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener('blur', function() {
      var newValue = this.getAttribute('relay');
      var newName = this.innerText;
      var xhr = new XMLHttpRequest();
      console.log(JSON.stringify({'relay_id': newValue, 'name': newName}));
      xhr.open('POST', '{{url_for('pages.rename_relay')}}', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send(JSON.stringify({'relay_id': newValue, 'name': newName}));
    });
  }
  {% endif %}

</script>

{% endblock %}
