{% extends "base/baseNavbar.html" %}
{% block title %} {% endblock %}
{% block content %} 

<div id="container" class="container-fluid">
  <div class="row">
    <div id="left" class="col">
      <h1>LEFT</h1>
      <table class="table-heading table table-rounded">
        <thead>
          <tr>
            <th>Router</th>
            <th>Time to modify</th>
          </tr>
        </thead>
        <tbody>
          {% for relay in relays %}
          <tr>
            <td>
              <div class="form-check">
                <input id="checkbox{{ relay.id }}" class="form-check-input" type="checkbox" value="{{ relay.id }}" onclick="disableCheckbox(this)">
                <label class="form-check-label" for="checkbox{{ relay.id }}">{{ relay.name }}</label>
              </div>
            </td>
            <td>
              <p style="display:inline;" id="timer{{ relay.id }}"></p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    
    {%if current_user.is_user_role()%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Heads up!</strong> This is an important message.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="fixed-bottom">
      <div class="container text-center bg-light py-3" style="color: rgba(25, 127, 185, 0.534);">
        <h4>No oblidis de demanar hora en el schedule!</h4>
        <p>Mira el schedule per a reservar un temps per tindre accés a obrir o tancar els relays. Clica <a href="{{url_for('pages.schedule')}}">aqui</a> per veure i reservar.</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  var timer = 10;

  function Timer1(relay, time, checkid) {
    let minute = parseInt(time / 60);
    let sec = time % 60;
    document.getElementById(relay).innerHTML = minute + " : " + (sec + 1);
    var name = setInterval(function() {
      document.getElementById(relay).innerHTML = minute + " : " + sec;
      if (sec <= 0) {
        if (minute <= 0) {
          document.getElementById(checkid).disabled = false;
          clearInterval(name);
          return 0;
        } else {
          minute--;
          sec = 60;
        }
      }
      sec--;
    }, 1000);
  };

  function disableCheckbox(checkbox) {
    let aux = "timer" + checkbox.value;
    let checkboxid = "checkbox" + checkbox.value;
    Timer1(aux, timer, checkboxid);
    checkbox.disabled = true;

    // AJAX call to backend
    $.ajax({
      url: "/json",
      type: "POST",
      data: JSON.stringify({
        "id": checkbox.value,
        "value": checkbox.checked
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        // console.log(data);
      },
      error: function(xhr, status, error) {
        console.log('Error: ' + error.message);
      }
    });
  }
</script>

{% endblock %}
