
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 




<div id="container" class="container-fluid" >
  <div class="row">
    <div id="left" class="col" >

          <div id="left-form" >
                <h2><span>Change User Credentials<span></h2>
              <p> </p>

              <form action="/user/update/{{our_user.email}}" method="POST">
                <!-- CRSF token -->
                {{ form.hidden_tag() }}
                <!--FORMS-->
                <!--Email-->
                {{ form.email.label(class="form-label")}}
                {{ form.email(class="form-control", placeholder="name@example.com",value=our_user.email)}}
                <!-- -->


                <!--Password-->
                {{ form.password_hash.label(class="form-label")}}
                {{ form.password_hash(class="form-control",  placeholder="Password",value=our_user.password_hash)}}   
                <!---->
                
                <!--Password-->
                {{ form.password_check.label(class="form-label")}}
                {{ form.password_check(class="form-control",  placeholder="Check password",value=our_user.password_check)}}   
                <!---->
                
                
                <br/>
                <!--Button-->
                {{form.submit( class="btn btn-info")}}
                
              </form>


          </div>
          <div id="urvlogo">
            <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php"> <img src="{{ url_for('static',filename='style/images/logoURVppd.png') }}">
            </a>
          </div>
      </div>

     
      <div id="right" class="col-8" >
          <div id="right-title" >
                  <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php">Moodle Urv</a>     
          </div>
          <div id="right-image" style="height: 100%;">
            <table class="table">
              <thead>
                <tr>  
                  <th>Active</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th>Role</th>
                  <th>Date added</th>
                </tr>
              </thead>
              <tr>
                <td>{{our_user.active}}</td>
                <td>{{our_user.email}}</td>
                <td><a href="{{url_for('update',email=our_user.email)}}"> {{our_user.password_hash}} </a> </td>
                <td>{{our_user.role_id}}</td>
                <td>{{our_user.date_added}}</td>  
              </tr>
            </table>
          <br>
          <div id="messages">
            {%for message in get_flashed_messages()%}
            {%if message == "User modified successfully!"%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> 
            {%else%}
            {%if message == "User deleted successfully!"%}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div> 
            {%else%}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>              
            {%endif%}
            {%endif%}
            {%endfor%}

          </div>
          </div>
      </div>
  </div>
</div>


</div>
{% endblock %}
