
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 




<div id="container" class="container-fluid" >
  <div class="row">
    <div id="left" class="col" >

   
          <div id="urvlogo">
            <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php"> <img src="{{ url_for('static',filename='style/images/logoURVppd.png') }}">
            </a>
          </div>
      </div>

      <div id="right" class="col-8" >
          <h1 style="display: flex;justify-content: center;">List of Users</h1>
          <div id="right-image" style="height: 100%;">
          
          
          
            <table class="table">
              <thead>
                <tr>  
                  <th>Id</th>
                  <th>Email</th>
                  <th>Password</th>
                </tr>
              </thead>
              {% for our_user in our_users %}
              <tr>
              <td>{{our_user.id}}</td>
              <td>{{our_user.email}}</td>
               <td><a class="btn btn-primary" href="{{url_for('update',id=our_user.id)}}"> {{our_user.password_hash}} </a> </td>
               <td><a class="btn btn-danger" href="{{url_for('delete',id=our_user.id)}}">Delete</td>
              </tr>
              {% endfor %}
            </table>



            <div id="messages">
              {%for message in get_flashed_messages()%}
                {%if message == "User modified successfully!"%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                {%else%}
                {%if message == "User deleted successfully!"%}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                {%else%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>              
                {%endif%}
                {%endif%}
                {%endfor%}

          </div>
      </div>
  </div>
</div>


</div>
{% endblock %}
