
{% extends "base/baseNavbar.html" %}
{% block title %}  {% endblock %}
{% block content %} 

<div id="container" class="container-fluid" >
  <div class="row">
    <div id="left" class="col" >



          <div id="left-form" >
              <h1><span>POST<span> NORMAL</h1>
              <p>
                     </p>

              <form method="POST">
                <!-- CRSF token -->
                {{ form.hidden_tag() }}
                
                <!--FORMS-->
                <!--Email-->
                <!--Email-->
                {{ form.email( class="form-control", placeholder="name@example.com")}}
                

                <br/>
                <!--Button-->
                {{form.submit(class="btn btn-info")}}
                
              </form>


          </div>
          <div id="urvlogo">
            <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php"> <img src="{{ url_for('static',filename='style/images/logoURVppd.png') }}">
            </a>
          </div>
      </div>

      <!-- This is MOODLE and URV LOGO-->
      <div id="right" class="col-8" >
          <div id="right-title" >
                  <a href="https://campusvirtual.urv.cat/local/alternatelogin/index.php">Moodle Urv</a>     
          </div>
          {%if email%}
          <h1>Hi {{email}}</h1>


           {%else%}
            <h1>No info is in </h1>
          {% endif %}
      </div>
  </div>
</div>


</div>
{% endblock %}
