<nav class="navbar bg-body-tertiary" style="margin-bottom:5px;">
  <div class="container-fluid">

      <div class="col">
        <a class="navbar-brand" id="navbarLogo" href="https://campusvirtual.urv.cat/local/alternatelogin/index.php"><img src="{{ url_for('static',filename='style/images/logoURVppd.png') }}" class="rounded float-start" > <a>
      </div>
      <div class="ml-auto d-flex">
        {% if not(current_user.is_anonymous) %}
        <div class="col-auto">
            <div class="d-flex justify-content-center flex-grow-1">
              <div class="d-flex flex-column align-items-center">
                <p>{{current_user.email}}</p>
                <div class="color-box" style="background-color: rgb({{current_user.color}});"></div>
              </div>
            </div>  
        </div>
        {% endif %}
        <div class="col-auto" style="margin-left:6px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title display-6 text-uppercase" id="offcanvasNavbarLabel" >______Index______</h3>
          <hr >
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {% if current_user.is_anonymous %}
			    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('pages.home_page')}}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.signup')}}">Signup</a>
          </li>        
          {% endif %}
          {% if not(current_user.is_anonymous) %}
          <h3 class="dropdown-header display-6 text-uppercase text-center" style="font-size: 1.2rem; background-color: #B3E0FF;">Usage</h3>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pages.schedule')}}">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pages.home_page')}}">Switch</a>
          </li>     
          <h3 class="dropdown-header display-6 text-uppercase text-center" style="font-size: 1.2rem; background-color: #B3E0FF;">User</h3>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('auth.update',email=current_user.email)}}">Config</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('auth.logout')}}">Logout</a>
          </li>
          {% endif %}
          {% if not(current_user.is_anonymous) and current_user.is_admin_role() %}
          <br>
          <h3 class="dropdown-header display-6 text-uppercase text-center" style="font-size: 1.2rem; background-color: #B3E0FF;">Configuration</h3>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.signup')}}">Sign up requests</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pages.database')}}">System info</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('pages.logs')}}">Activity logs</a>
          </li> 
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
